<p id="notice"><%= notice %></p>

<p>
  <b>Category name:</b>
  <%= @admin_category.category_name %>
</p>


<%= link_to 'Edit', edit_admin_category_path(@admin_category) %> |
<%= link_to 'Back', admin_categories_path %>
